<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	
	<jmxConfigurator/>
	
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

	<property name="DEV_HOME" value="logs" />

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} %-5level %class{36}.%M %L -- %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log </fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>

	</appender>
	
	<appender name="CGLOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/cg.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} %-5level %class{36}.%M %L -- %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/cg.%d{yyyy-MM-dd}.%i.log </fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>

	</appender>

	<logger name="org.springframework"  level="debug">
		
	</logger>
	
	<logger name="org.cg"  level="debug">
		<appender-ref ref="CGLOG" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="FILE-AUDIT" />
	</root>
	
</configuration>